.container {
  width: 450px;
  margin: auto;
  min-height: 550px;
  font-size: 14px;
  color: rgb(88, 88, 88);
}

.header {
  width: 100%;
  height: 150px;
  background: rgb(195, 195, 195);
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 40px;
}

.menu {
  position: absolute;
  top: 10px;
  right: 40px;
}

.menu a {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.header_text {
  position: absolute;
  width: 140px;
  top: 40px;
  left: 40px;
}

.intro {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.fps {
  position: absolute;
  right: 40px;
  bottom: 10px;
  width: 220px;
  height: 100px;
  line-height: 14px;
  padding: 40px 60px 40px 60px;
  box-sizing: border-box;
  background: rgb(159, 159, 159);
}

.main {
  width: 80%;
  margin: auto;
}

.tochki {
  margin-left: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  word-spacing: 7px;
}

.tochka {
  width: 7px;
}

.main_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.block {
  width: 32%;
  height: 130px;
  background: rgb(195, 195, 195);
  margin-bottom: 20px;
  text-align: center;
  line-height: 16px;
  padding: 57px 0;
  box-sizing: border-box;
}

.twitter {
  width: 100%;
  line-height: 40px;
  background: rgb(195, 195, 195);
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  height: 40px;
  line-height: 14px;
  box-sizing: border-box;
  background: rgb(195, 195, 195);
  padding: 13px 10%;
  position: relative;
}

.menu_down {
  display: inline-block;
}
.menu_down a {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.right {
  display: inline-block;
  position: absolute;
  right: 10%;
}
